@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
    background-image: url("https://preview.redd.it/how-can-someone-make-this-background-with-html-and-css-i-v0-zjgs096khv591.jpg?auto=webp&s=9659527da9196c27a8875200b41d20a8e901c341");
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: overlay;
}
nav {
    
    padding: 25px 60px;
    z-index: 1;
  }
  
  nav a img {
    width: 270px;
    margin-left: 7%;
  }
  
  .container{
    margin: auto;
    margin-top: -11%;
    display: flex;
    justify-content: center;
    width: 20%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 18px;
}
.content {
    position: relative;
     display: flex;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.7);
     height: 100vh;
     width: 100%;
     margin: 0;
     padding: 0;
}
form{
    display: flex;
    background-color: rgba(0, 0, 0,0.8);
    align-self: center;
    flex-direction: column;
    width: 100%;
    padding: 4% 5%;
}
form h2{
    color: white;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
    font-size: 38px;
}
form input {
    width: 95%;
    border-radius: 5px;
    height: 3rem;
    color: white;
    margin: 0.5rem 0%;
    font-size: 16px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    outline: none;
    border: 0.8px solid rgb(255, 255, 255,0.3);
}
form button{
    width: 100%;
    background-color: red;
    color: white;
    height: 2.7rem;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    border-radius: 3px;
    border: none;
}
.btn1{
    margin-top: 1rem;
    font-size: 20px;
}
.btn1:hover{
    background-color: rgba(255, 0, 0, 0.695);
}

.other-option{
    color: rgba(192, 192, 192, 0.464);
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    font-size: 20px;
}
.line{
    width: 50%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}
.other-option div{
    margin: 0 0.3rem;
    font-size: 18px;
}
#issue{
    backdrop-filter: blur(100px) saturate(81%);
    -webkit-backdrop-filter: blur(100px) saturate(81%);
    background-color: rgba(44, 52, 66, 0.53);
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
#issue:hover{
    background-color: rgba(44, 52, 66, 0.9);
}
form p{
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
    font-size:18px;
    margin: 0;
    margin-top: 1.3rem;
}
.checkbox{
    display: inline-flex;
    justify-content: start;
    height: 3rem;
    margin-bottom: 1rem;
}
.checkbox input{
    width:1rem;
    margin-right: 1rem;
}
.checkbox p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-size:18px;
    color: #ffffff;
}
.extra{
    display: flex;
}
.extra p{
    color: rgb(105, 105, 105);
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:18px;
}
.extra p:nth-child(2){
    color: white;
    margin-left: 0.5rem;
}
small {
    margin-top: 3%;
    color: rgb(107, 107, 107);
    font-family: "Roboto", sans-serif; 
}
a{
    color: rgb(17, 0, 255);
    text-decoration: none;
}
